.my_page {
  height: 100vh;
  background-color: whitesmoke;
  display: grid;

  grid-template-areas: "header"
    "main_space";
  grid-template-rows: 3em 1fr;
  grid-gap: 1em;
}

.wrapper {
  grid-area: main_space;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-gap: 1em;
  grid-template-areas:
    "sidebar main Blender "
  ;
  height: 100vh;
  width: 1200px;
  margin: auto
}